.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px -1px rgba(0, 0, 0, 0.75);
}

.logo p{
    font-family: "Rubik Wet Paint";
    font-size: 1.5rem;
    margin-bottom: -0.2rem;
}
.logo small{
    font-size: 14px;
}

.navbar .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.navbar img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}