
.login{
    position: absolute;
    z-index: 1001;
    width: 100vw;
    height: 410rem;
    background: #00000090;
    backdrop-filter: blur(2px);
    display: grid;
    padding-bottom: 340rem;
    left: 0;

}

.login .loginContainer{
    place-self: center;
    width: max(40px, 430px);
    /* color: #fff; */
    background: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2.3rem;
    border-radius: 1rem;
    animation: slide-in 0.8s;
}

@keyframes slide-in {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.loginTitle{
    display: flex;
    flex-direction: column;
}

.loginTitle .closeIcon{
    align-self: flex-end;
    margin-bottom: 2rem;
    cursor: pointer;
}


.loginTitle h2{
        font-family: "Rubik Wet Paint";
        font-size: 2rem;
}

.loginInputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loginInputs input{
    outline: none;
    border: 1px solid #333;
    height: 2.3rem;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 1.5rem;
}

.loginInputs input:focus{
    border: solid 1.3px var(--golden-color);
    box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
}

.loginContainer button{
    height: 2.3rem;
    padding: 0.6rem auto;
    font-size: 1rem;
    font-family: "Rubik Wet Paint";
    outline: none;
    border: 1px solid var(--golden-color);
    border-radius: 1.5rem;
    box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 15px 0px rgba(0,0,0,0.75);
cursor: pointer;
}

.loginContainer .loginCondition{
    display: flex;
    align-items: center;
    gap: 5px;
}


small{
    cursor: pointer;
    color: var(--golden-color);
    font-style: italic;
    font-family: "Rubik Wet Paint";
}


@media screen and (max-width: 1000px) {
    .login{
        height: 580rem;
        padding-bottom: 510rem;
    }
}

@media screen and (max-width: 600px) {
    .login{
        height: 1080rem;
        padding-bottom: 640rem;
    }
}
