.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.logo{
    font-family: "Rubik Wet Paint";
    font-size: 2rem;
}

.NavBar .navMenu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    color: #49557e;
}
.NavBar .navMenu a{
    cursor: pointer;
}

.NavBar .navBarRight{
    display: flex;
    align-items: center;
    gap: 40px;
}

.NavBar button {
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid rgb(240, 136, 9);
    font-size: 16px;
    cursor: pointer;
    color: #49557e;
    transition: 0.3s;
}
.NavBar button:hover{
    background: #fff4f2;
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.NavBar a{
    cursor: pointer;
}

 .searchIcon{
    position: relative;
 }

 .searchIcon .dot{
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background: rgb(240, 136, 9);
    border-radius: 5px;
    top: -7px;
    right: -8px;
 }
 .NavBar .menuIcon{
    font-size: 1.9rem;
    display: none;
    color: var(--golden-color);
    margin: 0 10px;
 }

.NavBar .showmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    gap: 1.3rem;
    right: -10px;
    height: 100vh;
    top: 0;
    padding-top: 4rem;
    width: 100vw;
    background: #fff;
    z-index: 99;
    list-style: none;
    display: none;
}

.NavBar .showmenu p{
    align-self: flex-end;
    margin-right: 15%;
    font-size: 4rem;
}

.NavBar .showmenu li{
    font-size: 3.5rem;
}

@media screen and (max-width: 749px) {
    .NavBar .menuIcon{
        display: block;
    }
    .NavBar .navMenu{
        display: none;
    }
}

@media screen and (max-width: 444px) {
    .searchIcon{
        display: none;
    }
    .searchMedia{
        display: none;
    }
}

